#map-wrapper-main > *,
#map-wrapper-main canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#nav-wrapper-main div div:first-of-type {
  box-sizing: unset;
}

#menu-container {
  position: relative;
}
